name: Autorelease
on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: softprops/action-gh-release@v2
        with:
          name: Release $[{{ github.ref_name }}
        env:
          GITHUB_TOKEN ${{ secrets.GITHUB_TOKEN }}
